* {
    padding: 0;
    margin: 0;
}

.head {
    margin-top: 150px;
}

input {
    padding: 10px;
    border-radius: 10px;
    outline: none;
}

footer {
    margin-bottom: 100px;
    margin-top: 50px;
}

.col-4, .col-8 {
    align-items: center;
    margin-top: 10px;
}

.container.body {
    margin-top: 100px;
    border: 1px solid black;
    padding-bottom: 20px;
}

.container.btn {
    margin-top: 10px;
}